---
const { title, subtitle } = Astro.props;
---
<section class="sec">
  <div class="head">
    <h2 class="h2">{title}</h2>
    {subtitle && <p class="p">{subtitle}</p>}
  </div>
  <slot />
</section>

<style lang="scss">
.sec{ margin-top: 18px; }
.head{ margin-bottom: 12px; }
</style>
